.wrapper {
    width: 25.4375rem;
    height: 46.3125rem;
    gap: 1.5rem;
    border-radius: 1.5rem;
    padding: 2rem 1.5rem;
    background-color: var(--mui-palette-design_light-inverseOnSurface);
    position: absolute;
   /* right: 0; */
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin: 1.125rem 0 0 0;
}

.header {
    font-family: var(--wx-fonts-primaryFontFamily);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: -2%;
    color: var(--Color-Secondary-Field-500, #4C3800);
    margin-top: 0.625rem;
    margin-bottom: 0.75rem;
}

.blank {
    font-family: var(--wx-fonts-primaryFontFamily);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: -2%;
    background: var(--Color-Secondary-Field-500, #4C3800);
}