.filterList {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.drugListItem {
  list-style: none;
  border-bottom: 1px solid #00000014;
  padding-bottom: 1rem;
}

.drugListItem a {
  text-decoration: none;
  color: inherit;
}

.drugListItem + .drugListItem {
  padding-top: 1rem;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productList {
  background-color: var(--mui-palette-common-white);
  padding: 2rem 2.8125rem;
  border-radius: 1rem;
}

.drugList {
  padding: 0;
}


.heading {
  margin-bottom: 1rem;
}