.detailCard  {
    margin-top: 1.5rem;
}

.medicationDetails {
    background-color: var(--mui-palette-common-white);
    margin-top: 1.5rem;
    padding: 2rem;
    border-radius: 1.5rem;
}

.heading {
    font-family: var(--primary-font);
font-weight: 600;
font-size: 1.5rem;
line-height: 130%;
letter-spacing: -2%;
color: var(--mui-palette-primary-main);
margin-bottom: 1.25rem;
}

.listItem  + .listItem {
    border-top: 1px solid var(--mui-palette-design_light-surfaceVariant);
    padding-top: 1.5rem;
}