.wrapper {
    height: 41.1875rem;
    position: relative;
}

.container {
    display: flex;
    width: 32.125rem;
    height: 14.375rem;
    background-color: #FFFFFF;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    padding: 2.8125rem 2.125rem 1.5625rem;
    position: absolute;
    top: 0;
}

.location {
    padding-bottom: 7px;
}

.name {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 130%;
    letter-spacing: -2%;
    color: var(--Schemes-On-Primary-Container, #062100);
    margin-bottom: 0.625rem;
}

.address {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: -2%;
    color: #444655;
}

.flex {
    display: flex;
    gap: 0.625rem;
    margin-top: 0.625rem;
}

.spanA {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    letter-spacing: -2%;
    vertical-align: middle;
    color: var(--Color-Secondary-Field-500, #4C3800);
}

.spanA {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.625rem;
    letter-spacing: -2%;
    vertical-align: middle;
}

.details {
    height: calc(41.1875rem - 14.375rem);
    width: 514px;
    background-color: var(--Schemes-Surface-Variant, #DFE4D7);
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 2.5rem 2.625rem 0.625rem 2.625rem;
}

.details h6 {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: -2%;
    color: var(--Schemes-On-Secondary-Container, #131F0D);
    margin-bottom: 0.4375rem;
}

.flexb {
    display: flex;
    gap: 1.875rem;
    margin-bottom: 1.5625rem;
}

.flexContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3125rem;
}

.booking {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: -2%;
    color: var(--Schemes-Primary, #446832);
}

.test {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.625rem;
    letter-spacing: -2%;
    color: var(--Schemes-Primary, #446832);
    margin-bottom: 0.625rem;
}

.description {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: -2%;
    vertical-align: middle;
    color: #373A33;
    margin-bottom: 0.625rem;
}

.type {
    margin-bottom: 0.625rem;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 0.875rem;
}

.appointment {
    line-height: 1.25rem;
    letter-spacing: -2%;
    color: var(--Schemes-Primary, #446832); 
}

.visit {
    line-height: 1.25rem;
    letter-spacing: -2%;
    color: var(--Schemes-On-Secondary-Container, #131F0D); 
}

.comments {
    display: flex;
    flex-direction: column;
    border-bottom: 0.0625rem solid #B4B5BB;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 0.875rem;
    letter-spacing: -2%; 
}

.title {  
    line-height: 1.25rem;
    color: var(--Schemes-Primary, #446832);
}

.text {
    line-height: 1.25rem;
    color: var(--Schemes-On-Secondary-Container, #131F0D);
    padding-bottom: 1.25rem;
}

.total {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: -2%;
    text-align: right;
    color: #81692C;
    padding: 0.625rem 0 0.75rem;
}

.price {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 130%;
    letter-spacing: -2%;
    text-align: right;
    color: #444655;
}