.form {
  background-color: var(--mui-palette-common-white);
  width: 100%;
  padding: 2rem;
  border-radius: 24px;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  font-family: var(--wx-fonts-primaryFontFamily);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 31.2px;
  color: var(--mui-palette-design_secondary-field500);
}

.backBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.inputSection {
    margin-top: 1.8125rem;
}

.inputWrapper + .inputWrapper {
    margin-top: 1.25rem;
}

.btnWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.625rem;
    margin-top: 2.625rem;
}

.btnWrapper button {
    width: 269px;
}

.cancelBtn {
    background-color: var(--mui-palette-design_light-secondaryContainer);
    color: var(--mui-palette-primary-main)
}