.container {
    display: flex;
    flex-direction: column;
    gap: .625rem;
    width: 100%;
    max-width: 600px;
    font-family: var(--wx-fonts-primaryFontFamily)
  }
  
  .ratingRow {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .label {
    font-size: 10px;
    font-weight: 500;
    color: var(--mui-palette-common-black);

  }
  
  .barContainer {
    flex: 1;
    height: 6px;
    background-color: #F2F6FB;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .bar {
    height: 100%;
    background-color: var(--mui-palette-primary-main);
    border-radius: 8px;
  }
  
  .count {
    text-align: right;
    font-size: 10px;
    font-weight: 500;
    color: #333;
  }
  
  @media (max-width: 480px) {

  
    .count {
      width: 40px;
      font-size: 14px;
    }
  
    .barContainer {
      height: 12px;
    }
  }
  