.wrapper {
  margin-top: 1.875rem;
  margin-bottom: 7rem;
}

.header {
  margin-top: 2.0625rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}

.heading {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 30px;
  line-height: 130%;
  letter-spacing: -2%;
  vertical-align: middle;
  flex-shrink: 0;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  flex-grow: 1;
}

.headerBtn {
  padding: 0.625rem 2.9375rem;
  border-radius: 50px;
  border: none;
  background-color: var(--mui-palette-design_light-secondaryContainer);
  font-size: 14px;
  font-weight: 500;
  font-family: var(--primary-font);
}

.continueShoppingBtn {
  background-color: var(--mui-palette-primary-main);
  color: var(--mui-palette-common-white);
}

.contentSection {
  display: flex;
  align-items: start;
  margin-top: 2rem;
  gap: 1.5rem;
}

.sectionOne {
  flex-grow: 1;
  max-width: 44.5rem;
  background-color: var(--mui-palette-common-white);
  padding: 1.5rem;
  border-radius: 0.75rem;
}

.cardItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cardItem + .cardItem {
  margin-top: 1.2188rem;
}

.heading {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 28px;
  letter-spacing: -2%;
  color: var(--mui-palette-primary-main);
}

.description {
  font-family: var(--primary-font);
  color: var(--mui-palette-design_light-onPrimaryContainer);
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
}

.price {
    font-family: var(--primary-font);
font-weight: 600;
font-size: 20px;
line-height: 130%;
letter-spacing: -2%;
text-align: right;
color: var(--mui-palette-design_light-onPrimaryContainer);
}
