.wrapper {
    margin-top: 44px;
}

.headerWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.heading {
    font-family: var(--primary-font);
font-weight: 600;
font-size: 1.5rem;
line-height: 130%;
letter-spacing: -2%;
color: var(--mui-palette-primary-main)

}

.filterSection {
    display: flex;
    align-items: center;
   gap: 8px;
}

.prescriptionList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 2.5rem
}

.listItem {
    background-color: var(--mui-palette-common-white);
    cursor: pointer;
}