.wrapper {
  height: 37.9375rem;
  position: relative;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  /* overflow: hidden; */
}

.reel {
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;

}

.content {
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    inset: 0;
}

.inputField {
    margin-top: 2rem;
    max-width: 49.25rem;
    width: 100%;
    min-height: 72px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.heading {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 3.375rem;
  text-align: center;
  max-width: 32.875rem;
  margin: 0 0 1.5rem;
  font-family: var(--wx-fonts-primaryFontFamily);
  color: var(--mui-palette-common-white);
}

.lead {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.625rem;
  text-align: center;
  max-width: 34.75rem;
  color: var(--mui-palette-common-white);
  font-family: var(--wx-fonts-primaryFontFamily);
}
@media (max-width: 768px) {
}