.wrapper {
    padding: 2rem;
    border-radius: 12px;
    background-color: var(--mui-palette-common-white);
    margin-top: 28px;
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.tabWrapper {
    width: 100%;
    max-width: 360px;
}

.listItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    font-family: var(--wx-fonts-primaryFontFamily);
font-weight: 400;
font-size: 1.25rem;
line-height: 40px;
letter-spacing: -2%;
color: var(--mui-palette-design_secondary-field500);




}

.list {
    margin-top: 24px;
    
}

.listItem + .listItem {
    border-top: 1px solid  var(--mui-palette-design_light-secondaryContainer);
}

.chip {
    padding: 10px 24px !important;
    font-size: 14px !important;
    line-height: 20px !important;
}

.chip span {
padding: 0px !important
}