.wrapper {
  border-radius: 4px;
  padding: 19px;
  background-color: var(--mui-palette-common-white);
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font);
}

.date {
  font-family: var(--primary-font);
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 14px;
  color: var(--mui-palette-design_secondary-field500);
  margin-left: auto;
  display: inline-block;
  align-items: flex-end;
  margin-bottom: 4px;
}

.message {
    font-weight: 400;
    font-size: .875rem;
    line-height: 20px;
    letter-spacing: -2%;
    max-width: 900px;
    margin-bottom: 1.8125rem;
     
}
