.tabContentWrapper {
  margin-top: 2.0625rem;
  color: var(--mui-palette-design_secondary-field700);
}

.about {
  font-family: var(--wx-fonts-primaryFontFamily);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

.section {
  margin-top: 3rem;
}

.sectionHeading {
  font-family: var(--wx-fonts-primaryFontFamily);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.95rem;
  color: var(--mui-palette-primary-main);
  margin-bottom: 0.5rem;
}
