.bannerContent {
    padding: 3.5625rem;
    font-family: var(--wx-fonts-primaryFontFamily);
    color: var(--mui-palette-common-white);
    font-size: 1.875rem;
    font-weight: 600;
    text-align: left;
  }
  
  .bannerHeading {
    width: 19.125rem;
    margin-bottom: 0.875rem;
    line-height: 2.4375rem;
  }
  
  .bannerLocation {
    font-family: var(--wx-fonts-primaryFontFamily);
    display: flex;
    align-items: flex-start;
    gap: 0.3125rem;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    width: 306px;
  }
  