.wrapper {
  padding: 1.5rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 0.75rem;
  background-color: var(--mui-palette-design_light-secondaryContainer);
}

.headingDetails {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-family: var(--wx-fonts-primaryFontFamily);
  color: var(--mui-palette-primary-main);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1719rem;
}

.btn {
  text-decoration: underline;
  color: var(--mui-palette-primary-main);
}

.infoSection {
  display: flex;
  padding-top: 1.875rem;
}

.icon {
  margin-right: 1.875rem;
}

.info {
  margin-right: 1.375rem;
  display: flex;
  flex-direction: column;
  font-family: var(--wx-fonts-primaryFontFamily);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: var(--mui-palette-secondary-main);
}

.title {
  font-family: var(--wx-fonts-primaryFontFamily);
  color: var(--mui-palette-design_secondary-field500);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.02em;
  margin: 0;
}

.prescription {
  display: inline-block;
  margin-top: 8px;
}

.emp {
  font-family: var(--wx-fonts-primaryFontFamily);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 22px;
}
