.wrapper {
  background-color: var(--mui-palette-design_light-primaryContainer);
}

.innerWrapper {
  padding: 1.75rem 0;
  display: flex;
  justify-content: space-between;
  gap: 4.25rem;
    flex-wrap: wrap
}

.lead {
font-family: var(--primary-font);
font-size: 1.5rem;
font-weight: 600;
line-height: 1.95rem;
color: var(--mui-palette-design_light-onPrimaryContainer);
width: 26.6875rem


}

.btnWrapper {
    display: flex;
    align-items: center;
    gap: .75rem;
    flex-wrap: wrap
}

.appButtons {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.signupButton {
   width: 12.375rem;
}
.appButtonsWrapper{
    display: flex;
    gap: .75rem;
}
@media (max-width: 768px) {
    .wrapper {
        padding: 1rem 2rem;
    }
    .signupButton{
        width: 100%;
    }
    .appButtons {
        flex: 1;
    }
}
@media (max-width: 458px) {
    .appButtonsWrapper{
        gap: 0rem;
        margin-left: -10px;
    }
    .appButtons, .signupButton {
        transform: scale(0.9);
    }
}