.wrapper {
  background-color: var(--mui-palette-design_light-primaryContainer);
}

.innerWrapper {
  padding: 1.75rem 0;
  display: flex;
  justify-content: space-between;
  gap: 4.25rem;
    flex-wrap: wrap
}

.lead {
font-family: var(--wx-fonts-primaryFontFamily);
font-size: 1.5rem;
font-weight: 600;
line-height: 1.95rem;
color: var(--mui-palette-design_light-onPrimaryContainer);
width: 26.6875rem


}

.btnWrapper {
    display: flex;
    align-items: center;
    gap: .75rem;
    flex-wrap: wrap
}

.appButtons {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.signupButton {
   width: 12.375rem;
}
.appButtonsWrapper{
    display: flex;
    gap: .75rem;
}
.store-button {
    background-color: var(--mui-color-white);
    display: inline-flex;
    align-items: center;
    padding: 0.75rem 1.25rem;
    border-radius: 5rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border: none;
}
.store-button svg {
    width: 2rem;
}
.store-button:hover {
    background-color: var(--mui-color-white);
}

.store-button:focus {
    outline: none;
}

.store-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.store-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
    line-height: 1;
}

.store-subtitle {
    font-size: 0.75rem;
    color: #4b5563; /* Tailwind gray-600 */
    margin-bottom: 0.25rem;
}

.store-title {
    font-weight: 500;
    font-family: inherit;
}

@media (max-width: 768px) {
    .wrapper {
        /*padding: 1rem 2rem;*/
    }
    .signupButton{
        width: 100%;
    }
    .appButtons {
        flex: 1;
    }
}
@media (max-width: 458px) {
    .appButtonsWrapper{
        gap: 0rem;
        margin-left: -10px;
    }
    .appButtons, .signupButton {
        /*transform: scale(0.9);*/
    }
}