.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.profileForm {
  background-color: var(--mui-palette-common-white);
  font-family: var(--font-primary);
  width: 100%;
}

.formHeading {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.625rem;
  display: flex;
  align-items: center;
  gap: .375rem;
  text-align: left;
  margin: 0 0 2rem 0;
  color: var(--mui-palette-common-black);
}

.inputWrapper + .inputWrapper {
  margin-top: 2rem;
}

.btnWrapper {
  margin-top: 4rem;
  width: 100%;
}

.header {
  font-family: var(--font-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mui-palette-design_light-surfaceVariant);
  gap: 1rem;
  padding: 1.875rem;
  border-radius: 0.75rem;
  width: 100%;
  color: #3a3a3a;
  text-align: left;
}

.userName {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 31.2px;
  margin: 0 0 8px 0;
}

.userEmail {
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

.formWrapper {
  background-color: var(--mui-palette-common-white);
  padding: 3.0625rem 6.125rem;
  display: flex;
  justify-content: center;
}

.changeAvatarBtn {
  padding: 12px;
  width: 192px;
  border: none;
  background-color: var(--mui-palette-design_light-primaryContainer);
  color: #3f6d2a;
  font-size: 0.75rem;
  font-family: var(--font-primary);
  font-weight: 600;
}


.updateBackBtn {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 4px;
}